<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>CS432 - Homework 3</h1>
    <h3>Pisith Yim and Taylor Caufield</h3>
    <p>Backend development - Heroku - Node.js</p>
    SpaceX API: <a href="https://api.spacexdata.com/v1/launches" target="_blank">https://api.spacexdata.com/v1/launches</a>
  </div>
</div>
</body>
</html>
